<%= form_for @direct_table do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :engine_fields_key %><br />
    <%= f.select(:engine_fields_key, engine_fields_for_select, :prompt => '- - -') %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :lineof_business_id %><br />
    <%= f.select(:lineof_business_id, lineofbusiness_for_select, :prompt => '- - -') %>
  </p>
  <p><%= f.submit %></p>
<% end %>
